.vs
Bin
Obj
Generated
/Communication/CPP/Src/Client/Communication.h
/Communication/CPP/Src/Client/CommunicationBinary.h
/Communication/CPP/Src/Server/Communication.h
/Communication/CPP/Src/Server/CommunicationBinary.h
/Communication/Haxe/src/Common.hx
/Communication/Haxe/src/communication/Communication.hx
/Communication/Haxe/src/communication/CommunicationJson.hx
/Communication/XHTML/*
/Serialization/CPP/Src/World.h
/Serialization/CPP/Src/WorldBinary.h
/Serialization/CPP/Src/WorldVersions.h
/Serialization/CSharp/Src/World.cs
/Serialization/CSharp/Src/WorldBinary.cs
/Serialization/CSharp/Src/WorldBinaryWithoutFirefly.cs
/Serialization/CSharp/Src/WorldJson.cs
/Serialization/CSharp/Src/WorldVersions.cs
/Serialization/Haxe/src/World.hx
/Serialization/Haxe/src/WorldJson.hx
/Serialization/Java/src/WorldBinary.java
/Serialization/Python/src/World.py
/Serialization/Python/src/WorldBinary.py
/Serialization/VB/Src/World.vb
/Serialization/XHTML/*
