.vs
Bin
Obj
Intermediate
Generated
__pycache__
/Communication/CPP/Lib/cppformat
/Communication/CPP/Lib/asio
/Communication/Haxe/generated
/Communication/XHTML
/Database/MailCSharp/Src/Database.cs
/Database/MailCSharp/Src/Krustallos/KrustallosDataAccess.cs
/Database/MailCSharp/Src/Memory/MemoryDataAccess.cs
/Database/MailCSharp/Src/MySql/MySqlDataAccess.cs
/Database/MailCSharp/Src/SqlServer/SqlServerDataAccess.cs
/Database/MailCSharpLinqToEntities/Src/DatabaseEntities.cs
/Database/TestCPP/Src/Database.h
/Database/TestCPP/Src/Memory/MemoryDataAccess.h
/Database/TestCPP/Lib/mysql-connector-c
/Database/TestCPP/Lib/mysql-connector-c++
/Database/TestCSharp/Src/CountedDataAccessWrapper.cs
/Database/TestCSharp/Src/Database.cs
/Database/TestCSharp/Src/Krustallos/KrustallosDataAccess.cs
/Database/TestCSharp/Src/MySql/MySqlDataAccess.cs
/Database/TestCSharp/Src/SqlServer/SqlServerDataAccess.cs
/Database/XHTML
/Expression/C/Src/Calculation.bin
/Expression/C/Src/Calculation.c
/Expression/C/Src/Calculation.h
/Expression/CPP/Src/Calculation.h
/Expression/CPP/Src/ExpressionSchema.h
/Expression/CPP/Src/ExpressionSchemaBinary.h
/Expression/CSharp/Src/Calculation.cs
/Serialization/CPP/Data
/Serialization/CPP/Src/World.h
/Serialization/CPP/Src/WorldBinary.h
/Serialization/CPP/Src/WorldVersions.h
/Serialization/CSharp/Data
/Serialization/CSharp/Src/World.cs
/Serialization/CSharp/Src/WorldBinary.cs
/Serialization/CSharp/Src/WorldBinaryWithoutFirefly.cs
/Serialization/CSharp/Src/WorldJson.cs
/Serialization/CSharp/Src/WorldVersions.cs
/Serialization/Haxe/Data
/Serialization/Haxe/generated
/Serialization/Java/Data
/Serialization/Java/generated
/Serialization/Python/Data
/Serialization/Python/src/World.py
/Serialization/Python/src/WorldBinary.py
/Serialization/SchemaManipulator/Data
/Serialization/VB/Data
/Serialization/VB/Src/World.vb
/Serialization/XHTML
